<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Hem</a></li>
            <li><a href="/add-course">Lägg till kurs</a></li>
            <li><a href="/about">Om sidan</a></li>
        </ul>
    </nav>
    <div class="container">
        <main>
            <h1>Sparade kurser</h1>
            <% if (locals.rows.length > 0) { %>
                <% locals.rows.forEach((row) => { %>
                    <article>
                        <p>Kurskod: <%= row.coursecode %></p>
                        <p>Kursnamn: <%= row.coursename %></p>
                        <p>Länk till kursplan: <%= row.syllabus %></p>
                        <p>Progression: <%= row.progression %></p>
                        <p class="info">Tillagt den:  <%= row.posted %></p>
                    </article>
                <% }); %>
            <% } %>
        </main>
    </div>
</body>
</html>