<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Hem</a></li>
            <li><a href="/add-course">Lägg till kurs</a></li>
            <li><a href="/about">Om sidan</a></li>
        </ul>
    </nav>
    <div class="container">
        <main>
            <h1>Sparade kurser</h1>
            <% if (locals.rows.length > 0) { %>
                <table>
                    <thead>
                        <tr>
                            <th>Kurskod</th>
                            <th>Kursnamn</th>
                            <th>Länk kursplan</th>
                            <th>Progression</th>
                            <th>Tillagt den</th>
                            <th>Åtgärd</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% locals.rows.forEach((row) => { %>
                            <tr>
                                <td><%= row.coursecode %></td>
                                <td><%= row.coursename %></td>
                                <td><a href="<%= row.syllabus %>">Visa kursplan</a></td>
                                <td><%= row.progression %></td>
                                <td><%= row.posted %></td>
                                <td><a href="/delete/<%= row.id %>">Radera</a></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            <% } else { %>
                <p>Inga kurser har sparats än.</p>
            <% } %>
        </main>
    </div>
    </body>
    </html>
    